body {
    color: yellow;
    background-color: black;
}

header {
    background-color: black;
    flex-direction: row;
    justify-content: center;
    display: flex;
    padding: 40px;
    border: solid white;
}

img {
    min-width: 310px;
    width: 100%;
    height: auto;
}

#top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid white;
    height: 45px;
    background: linear-gradient(to bottom, black, rgb(84, 8, 105));
}

#top-container div:not(#menu-icon) {
    padding: 8px;
}

#menu-icon {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

#menu-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

section {
    width: 60%;
    height: 100%;
    min-width: 200px;
    max-width: 300px;
    background-color: rgb(84, 8, 105);
    box-shadow: 0 10px 20px gold;
    position: fixed;
    left: -100%; 
    top: 0;
    transition: left 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    color: white;
}

section div {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section hr {
    width: 100%;
    height: 1px;
    background-color: white;
    border: none;
}

.back-dir {
    position: absolute;
    bottom: 0;
    margin-top: 10px;
    border-top: solid white;
    padding: 10px;
}

h1 {
    margin-top: 40px;
    text-align: center;
}

table, th, td {
    border: 1px solid yellow;
}

th {
    color: black;
    background-color: yellow;
    font-size: 140%;
}

td {
    background-color: rgb(84, 8, 105);
    padding: 10px;
}

form {
    width: 100%;
}

label {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

input, select, textarea {
    background-color: rgb(237, 208, 221);
}

input:not([type='radio'],[type='checkbox']), select {
    width: 20%;
    text-align: center;
    min-width: 10px;
    max-width: 100px;
}

.alliance {
    width: 20%;
    min-width: 60px;
    max-width: 70px;
}

.teamInfo {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.teleop, .auto, .endGame {
    margin-top: 20px;
    width: 90%;
    min-width: 400px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.matchResult {
    margin-top: 20px;
    width: 30%;
    min-width: 250px;
    max-width: 300px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.buttonContainer {
    justify-content: center;
    display: flex;
}

button {
    margin: 10px;
    border-radius: 10px;
    font-style: italic;
    color: black;
}