header {
    justify-content: center;
    align-items: center;
    display: flex;
}

img {
    max-width: 1000px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

nav {
    flex-direction: column;
    background-color: gold;
    border-radius: 12px;
    display: flex;
    font-size: 130%;
    padding: 20px;
    font-family: arial;
    font-weight: 600;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 300%;
    text-align: center;
    font-family: monospace;
}