header {
    justify-content: center;
    align-items: center;
    display: flex;
}

img {
    min-width: 310px;
    width: 100%;
    height: auto;
    max-height: 500px;
}

#top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid white;
    height: 45px;
    background: linear-gradient(to bottom, black, rgb(84, 8, 105));
}

#top-container div:not(#menu-icon) {
    padding: 8px;
}

#top-container div h3 {
    font-size: x-large;
    color: gold;
    text-align: center;
}

#menu-icon {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

#menu-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

section {
    width: 60%;
    height: 100%;
    min-width: 200px;
    max-width: 300px;
    background-color: rgb(84, 8, 105);
    box-shadow: 0 10px 20px gold;
    position: fixed;
    left: -100%; 
    top: 0;
    transition: left 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    color: white;
}

section div {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section hr {
    width: 100%;
    height: 1px;
    background-color: white;
    border: none;
}

.back-dir {
    position: absolute;
    bottom: 0;
    margin-top: 10px;
    border-top: solid white;
    padding: 10px;
}

h1 {
    color: white;
    font-size: 300%;
    text-align: center;
    font-family: monospace;
}

table, th, td {
    border: 1px solid yellow;
}

th {
    color: black;
    background-color: yellow;
    font-size: 140%;
}

td {
    color: yellow;
    background-color: rgb(84, 8, 105);
    padding: 10px;
}

label {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

input, select {
    background-color: rgb(237, 208, 221);
    width: 50%;
    text-align: center;
    min-width: 10px;
    max-width: 100px;
}

.resettingRegional {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer {
    color: white;
    align-items: center;
}