header {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px;
}

img {
    max-width: 650px;
    width: 100%;
    height: auto;
}

#top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid white;
    height: 45px;
    background: linear-gradient(to bottom, black, rgb(84, 8, 105));
}

#top-container div:not(#menu-icon) {
    padding: 8px;
}

#top-container div h3 {
    font-size: x-large;
    color: gold;
    text-align: center;
}

#menu-icon {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

#menu-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

section {
    width: 60%;
    height: 100%;
    min-width: 200px;
    max-width: 300px;
    background-color: rgb(84, 8, 105);
    box-shadow: 0 10px 20px gold;
    position: fixed;
    left: -100%; 
    top: 0;
    transition: left 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    color: white;
}

section div {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section hr {
    width: 100%;
    height: 1px;
    background-color: white;
    border: none;
}

.back-dir {
    position: absolute;
    bottom: 0;
    margin-top: 10px;
    border-top: solid white;
    padding: 10px;
}

.main-container {
    margin-top: 50px;
}

table, th, td {
    border: 1px solid gold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 95%;
    max-width: 1000px;
}

th:not(.cm-header) {
    color: black;
    background-color: gold;
    font-size: 170%;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
}

td {
    background-color: rgb(84, 8, 105);
    padding: 10px;
    font-size: large;
    color: gold;
}

.add-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.add-item-container * {
    margin: 10px;
    border-radius: 5px;
}

input, select, textarea {
    background-color: rgb(237, 208, 221);
}

.trash-icon, .edit-icon {
    width: 25px;
    height: auto;
}

.trash-cell, .edit-cell {
    width: 5px;
}