header {
    justify-content: center;
    align-items: center;
    display: flex;
}

img {
    max-width: 1000px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

nav {
    flex-direction: column;
    background-color: gold;
    border-radius: 12px;
    display: flex;
    font-size: 130%;
    padding: 20px;
    font-family: arial;
    font-weight: 600;
    align-items: center;
    gap: 20px;
}

h1 {
    color: white;
    font-size: 300%;
    text-align: center;
    font-family: monospace;
}

.adminContainer{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto; /* Having both margins centers the table */
}

table, th, td {
    border: 1px solid yellow;
}

th {
    color: black;
    background-color: yellow;
    font-size: 140%;
}

td {
    color: yellow;
    background-color: purple;
    padding: 10px;
}

label {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

input, select {
    background-color: rgb(237, 208, 221);
    width: 50%;
    text-align: center;
    min-width: 10px;
    max-width: 100px;
}

.resettingRegional {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.buttonContainer {
    justify-content: center;
    display: flex;
}

button {
    margin: 10px;
    border-radius: 10px;
    font-style: italic;
    color: black;
}