

header {
    background-color: black;
    flex-direction: row;
    justify-content: center;
    display: flex;
    padding: 40px;
    border-radius: 20px;
}

#homeLink {
    line-break:loose;
}

nav {
    flex-direction: column;
    background-color: gold;
    border-radius: 12px;
    display: flex;
    font-size: 130%;
    padding: 20px;
    font-family: arial;
    font-weight: 600;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

h6 {
    color: yellow;
    text-align-last: right;
}

h1 {
    font-size: 200%;
    font-family: monospace;
    text-align: center;
    color: white;
}

.qualContainer{
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; /* Having both margins centers the table */
}

.buttonContainer{
    margin-top: 10px;
    float: right;
}

#updateButton{
    background-color: gold;
    margin-top: 10px;
}

#resetButton{
    background-color: gold;
    font-size: 50%;
    margin-top: 40px;
    display: flex;
}

#saveButton {
    background-color: gold;
}

th, td {
    border:2.5px solid white;
    text-align: center;
    justify-content: center;
}

table {
    border:3px solid white;
    min-width: 350px;
    max-width: 1000px;
    width: 95%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto; /* Having both margins centers the table */
}

.time {
    background-color: gold;
    color: purple;
    font-weight: 550;
    /* width: 15%; */
}

.matchNumber {
    background-color: gold;
    color: purple;
    font-weight: 550;
    /* width: 7%; */
}

.redAlliance {
    background-color: red;
    color: white;
    font-weight: 550;
    /* width: 10%; */
}

.blueAlliance {
    background-color: blue;
    color: white;
    font-weight: 550;
    /* width: 10%; */
}
