header {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px;
    border-radius: 20px;
}

img {
    max-width: 650px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#homeLink {
    line-break:loose;
}

#top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    background-color: rgb(84, 8, 105);
}

#menu-icon {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

#menu-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

section {
    width: 60%;
    height: 100%;
    min-width: 200px;
    max-width: 300px;
    background-color: rgb(84, 8, 105);
    box-shadow: 0 10px 20px gold;
    position: fixed;
    left: -100%; 
    top: 0;
    transition: left 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    color: white;
}

section div {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section hr {
    width: 100%;
    height: 1px;
    background-color: white;
    border: none; 
}

.back-dir {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

h6 {
    color: yellow;
    text-align-last: right;
    font-size: x-small;
}

h1 {
    font-size: 200%;
    font-family: monospace;
    text-align: center;
    color: white;
}

.qualContainer{
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; /* Having both margins centers the table */
}

th, td {
    border:2.5px solid white;
    text-align: center;
    justify-content: center;
    background-color: black;
}

table {
    border:3px solid white;
    min-width: 350px;
    max-width: 1000px;
    width: 95%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto; /* Having both margins centers the table */
}

.time, .matchNumber {
    background-color: gold;
    color: rgb(84, 8, 105);
    font-weight: 550;
}

.redAlliance {
    background-color: red;
    color: white;
    font-weight: 550;
    /* width: 10%; */
}

.blueAlliance {
    background-color: blue;
    color: white;
    font-weight: 550;
    /* width: 10%; */
}
